h1{
    color:rgb(255, 255, 255);
    font-size: 90px;
        font-family: Arial, Helvetica, sans-serif;

    
}
a{
    font-size: 25px;
    color:rgb(255, 204, 204)
    
}
h4{
    height: 40px;
    background-color: rgb(168, 168, 168);
    padding-top:20px;
    text-align: left;
    padding: right 40px;
    padding-left:40px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    
    
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.href{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

    padding-right: 40px;
    padding-left:40px;
    padding-top:20px;
    padding-bottom:20px;
    color:rgb(255, 255, 255);
}
body {
  background-color: #000000; /* Серый */
}

h3{
    color:white ;
}

.game-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  text-align: center;
}

.game-block {
  width: 30%;
}
h5{
    color:white;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.roblox{
    width: 125px; ;
    height: 150px;
}
.fof{
      width: 500px; ;
    height: 500px; 
}
.ok{
    width:700px ;
    height: 400px;
    padding-top: 0px;
    padding-left: 100px;
}
.ko{
    padding-top: 6=0px;
    padding-right: 100px;
    width:700px ;
    height: 800px;
    padding-left: 100px;
}
h6{
    color:rgb(165, 165, 165);
}
p{
    color:#000000
}
.f3{
    font-size: 120px;
}
.game{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-top: 60px;
    font-size: 30px;
}
img{
 border-radius: 5%;
}
.center{
    border-radius: 5%;
}
.cd{
    width: 220x;
    height: 325px;
}
.rr{
    width: 400x;
    height: 400x;
    padding-left: 40px;
    padding-right: 40px;
}
.help{
    padding-bottom: 30px;
    padding-top: 10px;
}
.secret{
    color:#000000;
    background-color: #000000;
}
.sec:hover.picture{
transform: scale(1,1);
}
.container{
    width: 100%;

}
.container .box{
    flex-basis: 40%;
    position: relative;

}

.container .box img{
    width: 100;
    height:auto;
    object-fit: cover;
}
.box .overlay{
position:absolute;
top:0;
left: 100%;
right:0;
height:100%;
overflow:hidden;
transition: 0.5s;

}

.box:hover .overlay{
    width:100%;
    left:0;
}